{% extends "base.html" %}

{% block main_content %}
<section class="wood-bg">
<section class="view_reviews">
    <h1>All the links i used to help me during this project </h1>
    <section> 
            <h2>
                CSS
            </h2>
            <p>I used <a href="https://claude.ai/new">Claude</a> to generate css adapted to my templates since I could not find good templates online.
            </p>
            <p>The CSS is all generated and I take no credit to making it.</p>
            <br>
            <p> 
            </p>
            <h2>Jinja</h2>
            <p> All jinja is written by me bar the order_history template formate to get the formate to display the right tables.
            </p>
            <p>I used <a href="https://stackoverflow.com/questions/19614027/jinja2-template-variable-if-none-object-set-a-default-value"> stackOverflow </a> to look at similar syntax and <a href="https://jinja.palletsprojects.com/en/stable/templates/"> Jinja documentations</a> as well.</p>
        <h2>
            Images and database 
        </h2>
        <p> The data base is made up by me</p>
        <p> All images are taken from  <a href="https://unsplash.com/s/photos/pizza">unsplash</a></p>
    </section>
</section>
</section>
{% endblock %}