{% extends "base.html" %}
{% block main_content %}
<section id="home-bg">
<section id="home">
    {% if message %}
    {{message}}
    {%endif%}
        <h2>Classic Cuisine!</h2>
        <small>Try out crispy handmade pizza using freshly sourced and organic ingredients right now ! </small>

        <a href="{{ url_for('order_now')}}" class="btn" id="order"> Order Now </a>
        <a href="#pizzasMenu" class="btn" id="guest"> Continue as guest </a>
</section>

</section>

<section class="wood-bg">
        
<section id="pizzasMenu">
    <h1> Our Menu </h1>
    {% for p in pizza %}
    <article class="pizzaBoxes">
        <img src="{{url_for('static', filename=p['images']) }}">
        <h3>{{ p["pizza_name"] }}</h3>
        <p> €{{ p["base_price"] }}</p>
             <a href="{{ url_for('pizza', pizza_id=p['pizza_id'])}}"> See details </a>
    </article>
    {% endfor %}

</section>
</section>
{% endblock %}


