{% extends "base.html" %}

{% block main_content %}
<section class="wood-bg">
<section class="loginAccount">
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}

        {{ form.email.label }}
        {{ form.email() }}
        {% for error in form.email.errors %}
            {{ error }}
        {% endfor %}
        <br /> 
        {{ form.password.label }}
        {{ form.password() }}
        {% for error in form.password.errors %}
            {{ error }}
        {% endfor %}
        <br /> 
            {{ form.submit() }}
          <a href="{{ url_for('register')}}"> Create an Account </a>
</form>
</section>
</section>


{% endblock %}