{% extends "base.html" %}

{% block main_content %}
<section class="wood-bg">
<section id="pizza">
    <h1>{{ pizza["pizza_name"] }}</h1>
    
    <img src="{{url_for('static', filename=pizza['images']) }}">
    <p>
        Base price : €{{ pizza["base_price"] }}
    </p>
    <p>
        {{ pizza["description"] }}
    </p>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}

        {{ form.size.label }}
        {{ form.size() }}
        {% for error in form.size.errors %}
            {{ error }}
        {% endfor %}
           <br /> 
        {{ form.submit() }}
</form>
</section>
</section>

{% endblock %}